<div class="container mt-4">
    <div class="d-flex container-fluid justify-content-between">
        <span class="fs-2">Editar Tarefa</span>
    </div>
    <%= render 'form', tarefa: @tarefa %>
</div>