<div class="container mt-4">
    <div class="d-flex container-fluid justify-content-between">
        <span class="fs-2">Tarefas</span>
        <%#= link_to new_tarefa_path, class: 'btn btn-secondary mt-2' do %>
            <%# Adicionar tarefa
            <i class="bi bi-plus"></i> %>
        <%# end %>
    </div>
    <div id="tarefas">
        <ul class="list-unstyled">
            <% @tarefas.each do |tarefa| %>
                <li>
                    <div class="card">
                        <%= render tarefa %>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
    <%= link_to new_tarefa_path, class: 'btn btn-secondary' do %>
        Adicionar tarefa
        <i class="bi bi-plus"></i>
    <% end %>
</div>