<div class="container mt-4">
    <div class="d-flex container-fluid justify-content-between">
        <span class="fs-2">Tarefas</span>
    </div>
    <div id="tarefas">
        <%= render partial: 'list' %>
    </div>
    
    <%= link_to new_tarefa_path, class: 'btn btn-primary mt-3' do %>
        Adicionar tarefa
        <i class="bi bi-plus"></i>
    <% end %>
</div>