<div id="tarefa#<%= @tarefa.id %>" class="container-fluid d-flex justify-content-center mt-5">
    <div class="card w-50">
        <div class="card-header">
            <span class="card-title"><%= @tarefa.titulo %></span>
            
        </div>
        <div class="card-body">
            <p><%= @tarefa.descricao %></p>
        </div>
    </div>
</div>